{% include base_path %}

<!--{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}
--->

<div class="{{ include.type | default: 'list' }}__item" style="margin-bottom: 20px;">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% if post.collection == 'publications'%}
         
      <div style="font-size: 18px;">
        {% if post.type == 'other' and post.supertitle%}
          {{ post.supertitle }} :
        {% endif %}

        {{ post.author }}

        {% if post.year %}
          ({{ post.year }}).
        {% endif %}

        <span style="font-weight: 600;">
          {{ post.title }}.
        </span>
      
        {% if post.journal %}
          <i>{{ post.journal }}</i>.
        {% endif %}
      </div>

      <div>
        {% if post.link %}
          <a href="{{ post.link }}"><i class="fas fa-fw fa-link zoom" aria-hidden="true"></i></a>
        {% endif %}
        {% if post.paperurl %}
          <a href="{{ post.paperurl }}"><i class="fas fa-fw fa-file-pdf zoom" aria-hidden="true"></i></a>
        {% endif %}
        {% if post.code %}
          <a href="{{ post.code }}"><i class="fas fa-fw fa-code zoom" aria-hidden="true"></i></a>
        {% endif %}
        {% if post.github %}
          <a href="{{ post.github }}"><i class="fab fa-fw fa-github zoom" aria-hidden="true"></i></a>
        {% endif %}
        {% if post.si %}
          <a href="{{ post.si }}"><i class="fas fa-plus-square" aria-hidden="true"></i></a>
        {% endif %}

        {% if post.keywords %}
          <span class="keywords">Keywords: 
            {% for keyword in post.keywords %}
              {{ keyword }}{% unless forloop.last %}, {% endunless %}
            {% endfor %}
          </span>
        {% endif %}

      {% if post.abstract %}
          <span onclick="toggleAbstract('{{ post.id }}')" class="abstract-link">
            View Abstract
          </span>
          <div id="abstract-{{ post.id }}" class="abstract-style">
            {{ post.abstract }}
          </div>
      {% endif %}
    </div>

    {% endif %}

 </article>
</div>